Package: com.cocos.wechattimelinerobot
Name: WeChatTimeLineRobot
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Cocos
Author: Cocos
Section: Tweaks
